@page
@model BreweryArc.Pages.BreweriesModel
@{
    var brew = (List<Breweries.BreweryCollection>)ViewData["BreweryCountryDetails"];
}

<div class="container-brew-background">

    <div class="container-brew">

        <h2>Filter Brewery Based on the Country</h2>

        <img class="background" src="~/images/backgroundBeer.jpeg" alt="Aleq">
        <div>
            <form method="get" class="row mb-3 ml-1">
                <div class="input-group row">
                    <div class="col-sm-2 font-weight-bold">Choose Country</div>
                    <select class="form-control" name="query" asp-for="@Model.SearchCountry" asp-items="ViewBag.SearchCountry"></select>
                    <div class="input-group-append">
                        <input type="submit" value="Search" class="btn btn-outline-secondary"/>
                    </div>
                </div>
            </form>
            @if (string.IsNullOrWhiteSpace(Model.SearchCountry))
            {

            }
            else if (brew == null)
            {
                <div class="alert alert-info">Brewery Data for @Model.SearchCountry not found.</div>
            }
            else
            {
                <div>
                    @{

                        foreach (Breweries.BreweryCollection breww in brew)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card card-body shadow border-0">
                                        <div class="subtitle lead">
                                            Brewery Details
                                        </div>
                                        <hr />
                                        <dl class="row">
                                            @if (!string.IsNullOrWhiteSpace(breww.Name))
                                            {
                                                <dt class="col-sm-6">
                                                    Brewery Name
                                                </dt>
                                                <dd class="col-sm-6">
                                                    <a asp-page="./BrewerySingle" asp-route-id="@breww.Id">@breww.Name</a>
                                                </dd>
                                            }

                                            @if (!(breww.WebsiteUrl == null))
                                            {
                                                <dt class="col-sm-6">
                                                    Website URL
                                                </dt>
                                                <dd class="col-sm-6">
                                                    @breww.WebsiteUrl
                                                </dd>
                                            }

                                        </dl>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card card-body shadow border-0">
                                        <div class="subtitle lead">
                                            Brewery Address
                                        </div>
                                        <hr />
                                        <dl class="row">
                                            @if (!string.IsNullOrWhiteSpace(breww.Street))
                                            {
                                                <dt class="col-sm-6">
                                                    Street
                                                </dt>
                                                <dd class="col-sm-6">
                                                    @breww.Street
                                                </dd>
                                            }
                                            @if (!(breww.Address2 == null))
                                            {
                                                <dt class="col-sm-6">
                                                    Address2
                                                </dt>
                                                <dd class="col-sm-6">
                                                    @breww.Address2
                                                </dd>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(breww.City))
                                            {
                                                <dt class="col-sm-6">
                                                    City
                                                </dt>
                                                <dd class="col-sm-6">
                                                    @breww.City

                                                </dd>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(breww.State))
                                            {
                                                <dt class="col-sm-6">
                                                    State
                                                </dt>
                                                <dd class="col-sm-6">
                                                    @breww.State
                                                </dd>
                                            }
                                        </dl>
                                    </div>
                                </div>
                            </div>


                        }
                    }
                </div>
            }
        </div>
        <div class="header" id="myHeader">
            <h1>You wouldn't wanna miss out on these top 4 Breweries!</h1>
        </div>
        <div class="row">
            <div class="column">
                <a href="https://101brewery.com/">
                    <img src="~/images/101BreweryCafe.jpg">
                    <div class="img1">
                        101 Brewery at Twana Roadhouse<br />
                        <p>Quilcene, WA</p>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="https://www.105westbrewing.com/">
                    <img src="~/images/105westBrewing.png">
                    <div class="img2">
                        105 West Brewing Comapany<br />
                        <p>Castle Rock, Colorado</p>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="https://12acresbrewing.ie/">
                    <img src="~/images/12acresbrewing.jpg">
                    <div class="img3">
                        12 Acres Brewing Company<br />
                        <p>Co Laois, Ireland</p>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="https://10barrel.com/">
                    <img src="~/images/barrelBrewery.jpeg">
                    <div class="img4">
                        10 Barrel Brewing Co.<br />
                        <p>Bend, Oregon</p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>