@page
@model BreweryType.Pages.BreweriesType
@{
    var Type = (List<Breweries.BreweryCollection>)ViewData["BreweryType"];
}


<div class="container-brew-background">
    <div class="container-brew">
        <h2>Types of Brewery</h2>
        <img class="background" src="~/images/backgroundBeer.jpeg" alt="Aleq">
        <div>
            <form method="get" class="row mb-3 ml-1">
                <div class="input-group row">
                    <div class="col-sm-2 font-weight-bold">Choose Type of Brewery</div>
                    <select class="form-control" name="query" asp-for="@Model.Type" asp-items="ViewBag.Type"></select>
                    <div class="input-group-append">
                        <input type="submit" value="Search" class="btn btn-outline-secondary"/>
                    </div>
                </div>
            </form>
            @if (string.IsNullOrWhiteSpace(Model.Type))
            {

            }
            else if (Type == null)
            {
                <div class="alert alert-info">Brewery Data for @Model.Type not found.</div>
            }
            else
            {

                <table border="1" class="table-hd" width="100%">
                    <tr class="table-hd-hdr">
                        <th>Brewery Name</th>
                        <th>Type</th>
                        <th>City</th>
                        <th>Country</th>
                    </tr>
                    @{
                        foreach (Breweries.BreweryCollection type in Type)
                        {
                            <tr class="table-row">
                                <td><a asp-page="./BrewerySingle" asp-route-id="@type.Id">@type.Name</a></td>
                                <td>@type.BrewerySelect</td>
                                <td>@type.City</td>
                                <td>@type.Country</td>
                            </tr>
                        }
                    }
                </table>
            }
        </div>
        <div class="header" id="myHeader">
            <h1>You wouldn't wanna miss out on these top 4 Breweries!</h1>
        </div>
        <div class="row">
            <div class="column">
                <a href="https://101brewery.com/">
                    <img src="~/images/101BreweryCafe.jpg">
                    <div class="img1">
                        101 Brewery at Twana Roadhouse<br />
                        <p>Quilcene, WA</p>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="https://www.105westbrewing.com/">
                    <img src="~/images/105westBrewing.png">
                    <div class="img2">
                        105 West Brewing Comapany<br />
                        <p>Castle Rock, Colorado</p>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="https://12acresbrewing.ie/">
                    <img src="~/images/12acresbrewing.jpg">
                    <div class="img3">
                        12 Acres Brewing Company<br />
                        <p>Co Laois, Ireland</p>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="https://10barrel.com/">
                    <img src="~/images/barrelBrewery.jpeg">
                    <div class="img4">
                        10 Barrel Brewing Co.<br />
                        <p>Bend, Oregon</p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>