@page
@model BreweriesSingle.Pages.BreweriesSingleModel

@{
    //Taking the data into a variable
    BreweriesSingleData.BreweriesSingleCollection single = (BreweriesSingleData.BreweriesSingleCollection)ViewData["Brewery_details"];
}

<div class="container">
    <br />
    <h2>Welcome To - @single.Name</h2>
    <div>
        @if (string.IsNullOrWhiteSpace(Model.SearchId))
        {
            <div class="alert alert-info">No Data :-  @Model.SearchId not found.</div>
        }
        else if (single == null)
        {
            <div class="alert alert-info">Brewery Data for @Model.SearchId not found.</div>
        }
        else
        {
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-body shadow border-0" style="background-color: aliceblue">
                            <div class="subtitle lead">
                                Brewery Details
                            </div>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-6">
                                    Date
                                </dt>
                                <dd class="col-sm-6">
                                    @single.CreatedAt.Date.ToShortDateString()
                                </dd>
                                <dt class="col-sm-6">
                                    Brewery Name
                                </dt>
                                <dd class="col-sm-6">
                                    @single.Name
                                </dd>
                                <dt class="col-sm-6">
                                    Brewery Type
                                </dt>
                                <dd class="col-sm-6">
                                    @single.BreweryType
                                </dd>
                                <dt class="col-sm-6">
                                    Website URL
                                </dt>
                                <dd class="col-sm-6">
                                    @single.WebsiteUrl
                                </dd>

                            </dl>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-body shadow border-0" style="background-color: aliceblue">
                            <div class="subtitle lead">
                                Brewery Address
                            </div>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-6">
                                    Street
                                </dt>
                                <dd class="col-sm-6">
                                    @single.Street
                                </dd>
                                <dt class="col-sm-6">
                                    Address2
                                </dt>
                                <dd class="col-sm-6">
                                    @single.Address2
                                </dd>
                                <dt class="col-sm-6">
                                    City
                                </dt>
                                <dd class="col-sm-6">
                                    @single.City

                                </dd>
                                <dt class="col-sm-6">
                                    State
                                </dt>
                                <dd class="col-sm-6">
                                    @single.State
                                </dd>
                                <dt class="col-sm-6">
                                    New Deaths
                                </dt>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>