@page
@model BreweryArc.Pages.BreweriesModel
@{

    // Breweries.BreweryCollection brew = (Breweries.BreweryCollection)ViewData["Brewery_details"];
    var brew = (List<Breweries.BreweryCollection>)ViewData["Brewery_details"];
}

<div class="container">
    <br />
    <h2>COVID19 Cases And Deaths</h2>
    <div>
        <form method="get" class="row mb-3 ml-1">
            <div class="input-group row">
                <div class="col-sm-2 font-weight-bold">Choose Country</div>
                <select class="form-control" name="query" asp-for="@Model.SearchCountry" asp-items="ViewBag.SearchCountry"></select>
                <div class="input-group-append">
                    <input type="submit" value="Search" class="btn btn-outline-secondary" />
                </div>
            </div>
        </form>
        @if (string.IsNullOrWhiteSpace(Model.SearchCountry))
        {

        }
        else if (brew == null)
        {
            <div class="alert alert-info">COVID19 Data for @Model.SearchCountry not found.</div>
        }
        else
        { 
            <div>
            @{

                foreach (Breweries.BreweryCollection breww in brew)
                {
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-body shadow border-0" style="background-color: aliceblue">
                            <div class="subtitle lead">
                                CUMULATIVE
                            </div>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-6">
                                    Date
                                </dt>
                                <dd class="col-sm-6">
                                    @breww.CreatedAt.Date.ToShortDateString()
                                </dd>
                                <dt class="col-sm-6">
                                    Brewery Name
                                </dt>
                                <dd class="col-sm-6">
                                    <a href="https://api.openbrewerydb.org/breweries/@breww.Id" target="_blank">@breww.Name</a>
                                </dd>
                                <dt class="col-sm-6">
                                    Brewery Type
                                </dt>
                                <dd class="col-sm-6">
                                    @breww.BreweryType
                                </dd>
                                <dt class="col-sm-6">
                                    Website URL
                                </dt>
                                <dd class="col-sm-6">
                                    @breww.WebsiteUrl
                                </dd>

                            </dl>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-body shadow border-0" style="background-color: aliceblue">
                            <div class="subtitle lead">
                                Brewery Address
                            </div>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-6">
                                    Street
                                </dt>
                                <dd class="col-sm-6">
                                    @breww.Street
                                </dd>
                                <dt class="col-sm-6">
                                    Address2
                                </dt>
                                <dd class="col-sm-6">
                                    @breww.Address2
                                </dd>
                                <dt class="col-sm-6">
                                    City
                                </dt>
                                <dd class="col-sm-6">
                                    @breww.City

                                </dd>
                                <dt class="col-sm-6">
                                    State
                                </dt>
                                <dd class="col-sm-6">
                                    @breww.State
                                </dd>
                                <dt class="col-sm-6">
                                    New Deaths
                                </dt>
                            </dl>
                        </div>
                    </div>
                </div>


            }
        }
        </div>
            }
        </div>

 </div>