@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<Breweries.BreweryCollection> brew = (List<Breweries.BreweryCollection>)ViewData["BreweryCollection"];

    DetailBrewery.Brewery brewDetail = (DetailBrewery.Brewery)ViewData["Brewery"];



}

<a href="/" title="home" class="logo">
    <div class="logo">
        <img src="~/images/logo.jpg" width="200" alt="logo" />
        <h1>BreweryArc</h1>
    </div>
</a>

<div class="text-center">
    <h1 class="display-4">Brewery List</h1>
    <hr />
    <div>
        <table border="1" width="90%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Brewery Type</th>
                    <th>Street</th>
                    <th>Address 1st Part</th>
                    <th>Address 2nd Part</th>
                    <th>City</th>
                    <th>State</th>
                    <th>County Province</th>
                    <th>Postal Code</th>
                    <th>Country</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Phone</th>
                    <th>Website Url</th>
                    <th>Update At</th>
                    <th>Created At</th>
                </tr>
            </thead>

            <tbody>
                @foreach (Breweries.BreweryCollection brr in brew)
                {
                    <tr>
                        <td>@brr.Name</td>
                        <td>@brr.BreweryType</td>
                        <td>@brr.Street</td>
                        <td>@brr.Address2</td>
                        <td>@brr.Address3</td>
                        <td>@brr.City</td>
                        <td>@brr.State</td>
                        <td>@brr.CountyProvince</td>
                        <td>@brr.PostalCode</td>
                        <td>@brr.Country</td>
                        <td>@brr.Longitude</td>
                        <td>@brr.Latitude</td>
                        <td>@brr.Phone</td>
                        <td><a href="@brr.WebsiteUrl">@brr.WebsiteUrl</a></td>
                        <td>@brr.UpdatedAt.Date.Date.ToShortDateString()</td>
                        <td>@brr.CreatedAt.Date.Date.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="text-center">
    <h1 class="display-4">Brewery Details</h1>
    <hr />
    <div>
        <table border="1" width="90%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Brewery Type</th>
                    <th>Street</th>
                    <th>Address 1st Part</th>
                    <th>Address 2nd Part</th>
                    <th>City</th>
                    <th>State</th>
                    <th>County Province</th>
                    <th>Postal Code</th>
                    <th>Country</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Phone</th>
                    <th>Website Url</th>
                    <th>Update At</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@brewDetail.Name</td>
                    <td>@brewDetail.BreweryType</td>
                    <td>@brewDetail.Street</td>
                    <td>@brewDetail.Address2</td>
                    <td>@brewDetail.Address3</td>
                    <td>@brewDetail.City</td>
                    <td>@brewDetail.State</td>
                    <td>@brewDetail.CountyProvince</td>
                    <td>@brewDetail.PostalCode</td>
                    <td>@brewDetail.Country</td>
                    <td>@brewDetail.Longitude</td>
                    <td>@brewDetail.Latitude</td>
                    <td>@brewDetail.Phone</td>
                    <td><a href="@brewDetail.WebsiteUrl">@brewDetail.WebsiteUrl</a></td>
                    <td>@brewDetail.UpdatedAt.Date.Date.ToShortDateString()</td>
                    <td>@brewDetail.CreatedAt.Date.Date.ToShortDateString()</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

